/* styles.css */

header {
  color: white;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
body {
  background-color: rgb(10, 10, 44);
}
.nav-links li {
  margin-right: 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Style the navigation links on hover */
.nav-links a:hover {
  color: lightgray;
}
/* styles.css */

header {
  font-size: larger;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow */
}

.nav-links a:hover {
  background-color: #3b947e;
  color: white;
  transition: background-color 0.3s, color 0.3s; /* Add a transition effect */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.nav-links li {
  margin-right: 15px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

/* Style the navigation links on hover */
.nav-links a:hover {
  background-color: white;
  color: rgb(10, 10, 34);
}
.first-section {
  display: flex;
  padding-top: 30px;
}
.first-section img {
  padding-left: 200px;
  width: 380px;
  height: 350px;
}
.first-section button:hover {
  background-color: #2e7462;
  color: white;
}
.first-section button {
  display: block;
  flex-direction: row; /* Display the buttons horizontally */
  justify-content: space-between; /* Add space between the buttons */
  padding-top: 30px;
}
.first-section button {
  background-color: #3b947e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: x-large;
  color: rgb(10, 10, 34);
  letter-spacing: 0.3mm;
}
.first-section p {
  font-size: larger;
}

.second-section {
  display: flex;
  padding-top: 3cm;
}
.second-section p {
  font-size: larger;
}
.second-section img {
  padding-left: 200px;
  width: 45%;
  height: 45%;
}
.third-section {
  padding-top: 4cm;
  font-size: larger;
}
.third-section button {
  border-radius: 5px;
  color: white;
  background-color: blueviolet;
  border: none;
  font-size: large;
}
.third-section button:hover {
  color: white;
  background-color: #3b947e;
}
.fourth-section {
  padding-top: 4cm;
  display: flex;
  padding-top: 200px;
  padding-bottom: 3cm;
  justify-content: space-between;
}
.fourth-section img {
  width: 380px;
  height: 350px;
}
.fourth-section button {
  border-radius: 20px;
}
.fourth-section h4 {
  border-radius: 10px;
  font-size: larger;
  background-color: blueviolet;
  height: fit-content;
  width: fit-content;
}

.footer {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #132835;
  
}
.footer a {
  color: white;
}
